# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Secrets
*.tfvars
.terraformrc
terraform.rc